/*
:root
{
    background: url(pic4.1.jpg) center;
    height: 100%;
    background-size: 100%;
}
*/
login-section
{
    display: block;

}

message-section
{
    display: none;
}

user-label
{
    display: inline;
    position: relative;
}

message-box
{
    display: block;
    margin-left: 1.5cm;
}

/*ueberbox
{
    height: 3cm;
    width: 10cm;
    background-image: url(./png-transparent-speech-balloon-callout-speech-bubble-background-white-message-bubble-miscellaneous-angle-white.png);
}
*/
main
{
    width: 100%;
    height: 70%;
}

input
{
    position: absolute;
    bottom: 30px;
    left: 475px;
    width: 400px;
}
button
{
    position: absolute;
    bottom: 30px;
    left: 875px;
}